# edit and save as config.env

# Set to a randomly generated 16 bytes string
SECRET_KEY=replacesecretkey

# Subnet of the docker network. This should not conflict with any networks to which your system is connected. (Internal and external!)
SUBNET=172.19.0.0/16

# Main mail domain
DOMAIN=docker.localhost

# Hostnames for this server, separated with comas
HOSTNAMES=mhn.docker.localhost,mailu.docker.localhost

# Choose how secure connections will behave (value: letsencrypt, cert, notls, mail, mail-letsencrypt)
TLS_FLAVOR=mail

# Authentication rate limit (per source IP address)
AUTH_RATELIMIT=10/minute;1000/hour 

# Website name
SITENAME=MHN Mailu

# Linked Website URL
WEBSITE=https://mhn.docker.localhost

# ADMIN
INITIAL_ADMIN_ACCOUNT=admin
INITIAL_ADMIN_DOMAIN=mhn.docker.localhost
INITIAL_ADMIN_PW=secret
INITIAL_ADMIN_MODE=update
